extends layout

block content
    include navbar
    block mainTitle
    h1 
       | Edytuj książkę autora:
       = ' ' + book.autor 
    include booktemplate
        block button
        button.btn.btn-primary(type='submit', id='add-button') Modyfikuj