extends layout

block content
    include navbar
    block mainTitle
    h1 
       | Edytuj Audiobook autora:
       = ' ' + audiobook.autor 
    include audioTemplate
        block button
        button.btn.btn-primary(type='submit', id='add-button') Modyfikuj