
nav.navbar.navbar-static-top.navbar-inverse
      a.navbar-brand(href='/')
        i.fa.fa-book
        | Biblioteka
      ul.nav.navbar-nav
        li.nav-item
          a.nav-link(href='/users') Lista Studentów
        li.nav-item
          a.nav-link(href='/books') Lista Książek
        li.nav-item
          a.nav-link(href='/audiobooks') Lista Audiobooków
        li.nav-item
          a.nav-link(href='/shopping_cart') Koszyk
        li.nav-item
          a.nav-link(href='/reservationList') Rezerwacje
        li.nav-item
          a.nav-link(href='/punishment') Kary